* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: rgba(248, 64, 208, 0.534);
  color: #ffd900;
}

*::selection {
  background-color: rgba(248, 64, 208, 0.534);
  color: #ffd900;
}

:root {
  --avg-padding: 20px;
  --fuente: "Poppins", sans-serif;
  --avg-color: #2c2c2c;
  --light-color: #CCCCCC;
  --rose: #EDA5A5;
  --white: #ffffff;
  --lightblue: #80c0c0;
  --blue: #6E87A9;
  --dark: #7cb1b1;
  --black: #000000;
}

body {
  font-family: var(--fuente);
}

.navBar-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.navBar-container.rose {
  background-color: var(--rose);
  transition: all 2s ease;
}
.navBar-container.lightblue {
  background-color: var(--lightblue);
  transition: all 2s ease;
}
.navBar-container.dark {
  background-color: #7cb1b1;
  transition: all 2s ease;
}
.navBar-container.blue {
  background-color: var(--blue);
  transition: all 2s ease;
}
.navBar-container .navBar {
  color: var(--avg-color);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 24px;
  width: 95%;
  border-bottom: 2px solid rgba(34, 34, 34, 0.6705882353);
}
.navBar-container .navBar.rose {
  color: var(--white);
  border-bottom: 2px solid var(--white);
}
.navBar-container .navBar.lightblue {
  color: var(--white);
  border-bottom: 2px solid var(--white);
}
.navBar-container .navBar.dark {
  color: var(--white);
  border-bottom: 2px solid var(--white);
}
.navBar-container .navBar.blue {
  color: var(--white);
  border-bottom: 2px solid var(--white);
}
.navBar-container .navBar .navBar-logo {
  position: relative;
  width: 190px;
  height: 26px;
  overflow: hidden;
}
.navBar-container .navBar .navBar-logo .logo {
  line-height: 1.2em;
  font-size: 20px;
}
.navBar-container .navBar .navBar-logo .logo .change {
  position: absolute;
  cursor: pointer;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}
.navBar-container .navBar .navBar-logo .logo .change:before {
  bottom: 24px;
  content: "Santiago";
  text-transform: none;
  position: absolute;
  font-weight: 300;
  font-style: italic;
  width: 100%;
  height: 100%;
  display: block;
}
.navBar-container .navBar .navBar-logo .logo .change:hover {
  transform: translateY(100%);
}
.navBar-container .navBar .navBar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar-container .navBar .navBar-menu .menu-list {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.navBar-container .navBar .navBar-menu .menu-list .list-item {
  list-style: none;
  display: inline-block;
  overflow: hidden;
  margin: 0px 18px;
}
.navBar-container .navBar .navBar-menu .menu-list .list-item:nth-child(3) {
  border-right: 2px solid rgba(34, 34, 34, 0.6705882353);
  padding-right: 30px;
}
.navBar-container .navBar .navBar-menu .menu-list .list-item:nth-child(3).rose {
  border-right: 2px solid var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item:nth-child(3).lightblue {
  border-right: 2px solid var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item:nth-child(3).dark {
  border-right: 2px solid var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item:nth-child(3).blue {
  border-right: 2px solid var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item:nth-child(4) {
  padding-left: 5px;
}
.navBar-container .navBar .navBar-menu .menu-list .list-item:last-child {
  padding-right: 1px;
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link {
  font-size: 18px;
  line-height: 1.75em;
  height: 1.7em;
  text-decoration: none;
  color: var(--avg-color);
  position: relative;
  overflow: hidden;
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link.rose {
  color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link.lightblue {
  color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link.dark {
  color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link.blue {
  color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link::after {
  content: "";
  background-color: rgba(44, 44, 44, 0.6352941176);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0px;
  transform: translate(-140%);
  transition: all 300ms ease-in-out;
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link.rose::after {
  background-color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link.lightblue::after {
  background-color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link.dark::after {
  background-color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link.blue::after {
  background-color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link:hover {
  cursor: pointer;
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .item-link:hover::after {
  transform: translate(0%);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .bx {
  font-size: 25px;
  margin-top: 2px;
  color: var(--avg-color);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .bx.rose {
  color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .bx.lightblue {
  color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .bx.dark {
  color: var(--white);
}
.navBar-container .navBar .navBar-menu .menu-list .list-item .bx.blue {
  color: var(--white);
}

/* HERO SECTION */
.hero-container {
  height: 88vh;
  width: 90%;
  margin: auto;
  padding-top: 5.5vw;
}
.hero-container .hero {
  display: flex;
}
.hero-container .hero .text-section .title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1.12em;
  color: var(--avg-color);
}
.hero-container .hero .text-section .title .title-span {
  display: block;
}
.hero-container .hero .text-section .based .based-p {
  padding: 10px 0 20px;
  color: rgba(34, 34, 34, 0.5254901961);
  font-size: 45px;
}
.hero-container .hero .text-section .description .description-span {
  font-weight: 400;
  font-size: 20px;
  color: var(--avg-color);
}

/* LOCOMOTIVE TEXT TO RIGHT: HOME */
.text-right {
  line-height: 1em;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 88vh;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
}
.text-right .right-text {
  color: rgba(34, 34, 34, 0.2117647059);
  font-size: 8.5rem;
  letter-spacing: 1px;
  margin-left: 20px;
}

/* BIO HOME */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .bio-container {
  width: 95%;
  height: 35vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.container .bio-container .space {
  width: 50%;
}
.container .bio-container .bio {
  width: 50%;
}
.container .bio-container .bio .bio-title {
  display: flex;
  flex-direction: column;
  color: rgba(44, 44, 44, 0.8431372549);
}
.container .bio-container .bio .bio-title .name {
  font-size: 48px;
  font-weight: 400;
  line-height: 1em;
}
.container .bio-container .bio .bio-title .age {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 20px;
}
.container .bio-container .bio .bio-info .info {
  font-size: 20px;
  font-weight: 300;
}
.container .bio-container .bio .bio-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: 22px;
}
.container .bio-container .bio .bio-buttons a {
  text-decoration: none;
  color: var(--avg-color);
  position: relative;
  overflow: hidden;
}
.container .bio-container .bio .bio-buttons a:hover::after {
  transform: translate(100%);
}
.container .bio-container .bio .bio-buttons a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: var(--avg-color);
  transition: all 300ms ease;
}

.detailButton {
  text-decoration: none;
  font-size: 20px;
  color: var(--avg-color);
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: all 1s ease;
}
.detailButton::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--avg-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 300ms ease;
}
.detailButton.is-inview {
  opacity: 1;
}

/* works section */
.works-section {
  overflow: hidden;
  margin-top: 70px;
  padding: 70px 0px 0px 70px;
}
.works-section .works-container .project {
  color: var(--avg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-bottom: 40px;
  padding: 20px 0px;
}
.works-section .works-container .project .project-left {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.works-section .works-container .project .project-left .project-number {
  font-size: 30px;
  opacity: 1;
  transition: all 1s ease;
}
.works-section .works-container .project .project-left .project-number.is-inview {
  opacity: 1;
}
.works-section .works-container .project .project-left .text-content .title {
  font-size: 54px;
  line-height: 1em;
  margin-bottom: 5px;
  opacity: 1;
  transition: all 1s ease;
}
.works-section .works-container .project .project-left .text-content .title.is-inview {
  opacity: 1;
}
.works-section .works-container .project .project-left .text-content .subtitle {
  font-size: 24px;
  margin-bottom: 15px;
  opacity: 1;
  transition: all 1.2s ease;
}
.works-section .works-container .project .project-left .text-content .subtitle.is-inview {
  opacity: 1;
}
.works-section .works-container .project .project-left .text-content .description {
  font-size: 18px;
  opacity: 1;
  transition: all 1.5s ease;
  margin-bottom: 10px;
}
.works-section .works-container .project .project-left .text-content .description.is-inview {
  opacity: 1;
}
.works-section .works-container .project .project-left .category {
  font-size: 24px;
  opacity: 1;
  transition: all 2s ease;
}
.works-section .works-container .project .project-left .category.is-inview {
  opacity: 1;
}
.works-section .works-container .project .project-right {
  height: 95%;
  width: 50%;
}
.works-section .works-container .project .project-right .image-container {
  opacity: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all 1s ease;
}
.works-section .works-container .project .project-right .image-container.is-inview {
  opacity: 1;
}
.works-section .works-container .project .project-right .image-container image {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

/* FOOTER SECTION */
.footer {
  height: 10vh;
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  color: var(--avg-color);
}
.footer.rose {
  background-color: var(--rose);
  color: var(--white);
}
.footer.lightblue {
  background-color: var(--lightblue);
  color: var(--white);
}
.footer.dark {
  background-color: var(--dark);
  color: var(--white);
}
.footer.blue {
  background-color: var(--blue);
  color: var(--white);
}
.footer .text .developed {
  font-size: 20px;
}
.footer .socials .menu {
  display: flex;
  flex-direction: row;
}
.footer .socials .menu .list-item {
  list-style: none;
  padding: 0px 20px;
  cursor: pointer;
}
.footer .socials .menu .list-item .bx {
  font-size: 25px;
}

/* detail section */
.detail__container {
  padding: 150px 200px 50px;
}
.detail__container.rose {
  background-color: var(--rose);
  color: var(--white);
}
.detail__container.lightblue {
  background-color: var(--lightblue);
  color: var(--white);
}
.detail__container.dark {
  background-color: var(--dark);
  color: var(--white);
}
.detail__container.blue {
  background-color: var(--blue);
  color: var(--white);
}
.detail__container .detail .text__container {
  padding-bottom: 100px;
}
.detail__container .detail .text__container .title {
  font-size: 76px;
}
.detail__container .detail .text__container .subtitle {
  font-size: 20px;
}
.detail__container .detail .text__container .category {
  font-size: 20px;
}
.detail__container .detail .text__container .buy {
  font-size: 25px;
  cursor: pointer;
  margin-top: 10px;
  width: 185px;
  position: relative;
  overflow: hidden;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail__container .detail .text__container .buy:hover .text-up {
  transform: translateY(-100%);
}
.detail__container .detail .text__container .buy .text-up {
  position: absolute;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
}
.detail__container .detail .text__container .buy .text-up::after {
  content: "Add to cart";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -37px;
}
.detail__container .cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail__container .cont .image__container {
  width: 1200px;
  height: 1200px;
}
.detail__container .cont .image__container .image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.cart__container {
  height: 100vh;
  overflow: hidden;
  margin-bottom: 40px;
}
.cart__container .main__text {
  height: 50vh;
  padding: 40px;
}
.cart__container .main__text .title {
  font-size: 76px;
  line-height: 1em;
  color: var(--avg-color);
}
.cart__container .main__text .sub {
  font-size: 30px;
  color: var(--avg-color);
}
.cart__container .cart__form {
  padding: 40px;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__container .cart__form .order__container {
  width: 50%;
}
.cart__container .cart__form .order__container .total-price {
  font-size: 30px;
  color: var(--avg-color);
}
.cart__container .cart__form .order__container .order__text {
  font-size: 20px;
  color: var(--avg-color);
  margin-bottom: 10px;
}
.cart__container .cart__form .order__container .order__text .title {
  font-size: 30px;
  color: var(--avg-color);
}
.cart__container .cart__form .order__container .order__text .price {
  font-size: 20px;
  color: var(--avg-color);
}
.cart__container .cart__form .order__container .order__text .quantity {
  font-size: 20px;
  color: var(--avg-color);
}
.cart__container .cart__form .order__container .order__form {
  display: flex;
  flex-direction: column;
}
.cart__container .cart__form .order__container .order__form .input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.cart__container .cart__form .order__container .order__form .input__container .input__title {
  font-size: 20px;
  color: var(--avg-color);
  margin-bottom: 10px;
}
.cart__container .cart__form .order__container .order__form .input__container .input__field {
  height: 40px;
  width: 300px;
  border: 1px solid var(--avg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 20px;
  color: var(--avg-color);
}
.cart__container .cart__form .form__container {
  width: 50%;
}
.cart__container .cart__form .form__container form {
  display: flex;
  flex-direction: column;
}
.cart__container .cart__form .form__container form .button__container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.cart__container .cart__form .form__container form .button__container .button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--avg-color);
  color: var(--white);
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.cart__container .cart__form .form__container form .button__container .button:hover {
  background-color: var(--white);
  color: var(--avg-color);
}
.cart__container .cart__form .form__container form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid var(--avg-color);
  background-color: transparent;
  color: var(--avg-color);
  font-size: 20px;
  outline: none;
}
.cart__container .cart__form .form__container form input:focus {
  border-bottom: 1px solid var(--avg-color);
}

/* about section */
.about-section {
  padding: 40px;
}
.about-section .main-container {
  height: 100vh;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.about-section .main-container .about-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 90px;
  color: var(--avg-color);
  font-weight: 400;
}
.about-section .main-container .about-container .about {
  line-height: 1em;
}
.about-section .main-container .about-container .me {
  line-height: 1em;
  margin-left: 250px;
}
.about-section .main-container .about-text {
  width: 70%;
  margin-top: 150px;
  padding: 0px 100px;
}
.about-section .main-container .about-text .title {
  font-size: 60px;
  line-height: 1em;
  color: var(--avg-color);
}
.about-section .main-container .about-text .text {
  margin-top: 25px;
  font-size: 20px;
  line-height: 1.5em;
  color: var(--avg-color);
}

/* contact section */
.contact__container {
  padding: 40px;
}
.contact__container .main__text {
  height: 50vh;
  padding: 40px;
}
.contact__container .main__text .title {
  font-size: 80px;
  line-height: 1em;
  color: var(--avg-color);
}
.contact__container .main__text .sub {
  font-size: 40px;
  color: var(--avg-color);
}
.contact__container .contact__form {
  padding: 0px 30px;
}
.contact__container .contact__form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid var(--avg-color);
  background-color: transparent;
  color: var(--avg-color);
  font-size: 20px;
  outline: none;
}
.contact__container .contact__form input:focus {
  border-bottom: 1px solid var(--avg-color);
}
.contact__container .contact__form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid var(--avg-color);
  background-color: transparent;
  color: var(--avg-color);
  font-size: 20px;
  outline: none;
}
.contact__container .contact__form textarea:focus {
  border-bottom: 1px solid var(--avg-color);
}
.contact__container .contact__form button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--avg-color);
  color: var(--white);
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.contact__container .contact__form button:hover {
  background-color: var(--white);
  color: var(--avg-color);
}

.cursor {
  background-color: rgba(255, 68, 0, 0.368627451);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}/*# sourceMappingURL=App.css.map */