* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: rgba(248, 64, 208, 0.534);
    color: #ffd900;
}

:root {
    --avg-padding: 20px;
    --fuente: "Poppins", sans-serif;
    --avg-color: #2c2c2c;
    --light-color: #CCCCCC;
    --rose: #EDA5A5;
    --white: #ffffff;
    --lightblue: #80c0c0;
    --blue: #6E87A9;
    --dark: #7cb1b1;
}

body {
    font-family: var(--fuente);
}


.navBar-container{
    display: flex;
    justify-content: center;
    position: relative;

    &.rose{
        background-color: var(--rose);
        transition: all 2s ease;
    } 
    &.lightblue{
        background-color: var(--lightblue);
        transition: all 2s ease;
    }
    &.dark{
        background-color: #7cb1b1;
        transition: all 2s ease;
    }
    &.blue{
        background-color: var(--blue);
        transition: all 2s ease;
    }
    .navBar{
        color: var(--avg-color);
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px 24px;
        width: 95%;
        border-bottom: 2px solid  #222222ab;

        &.rose{
            color: var(--white);
            border-bottom: 2px solid var(--white);
        }
        &.lightblue{
            color: var(--white);
            border-bottom: 2px solid var(--white);
        }
        &.dark{
            color: var(--white);
            border-bottom: 2px solid var(--white);
        }
        &.blue{
            color: var(--white);
            border-bottom: 2px solid var(--white);
        }

        .navBar-logo{
            position: relative;
            width: 190px;
            height: 26px;
            overflow: hidden;
            .logo{
                line-height: 1.2em;
                font-size: 20px;

                .change{
                    position: absolute;
                    cursor: pointer;
                    margin-left: 5px;
                    transition: all .3s ease-in-out;

                    &:before{
                        bottom: 24px;
                        content: "Santiago";
                        text-transform: none;
                        position: absolute;
                        font-weight:300;
                        font-style: italic;
                        width: 100%;
                        height: 100%;
                        display: block;
                        
                    }
                    
                    &:hover{
                        transform: translateY(100%);
                    }
                }
            }
        }

        .navBar-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            .menu-list{
                display: flex;
                flex-direction: row;
                overflow: hidden;
                .list-item{
                    list-style: none;
                    display: inline-block;
                    overflow: hidden;
                    margin: 0px 18px;

                    &:nth-child(3){
                        border-right: 2px solid #222222ab;
                        padding-right: 30px;

                        &.rose{
                            border-right: 2px solid var(--white);
                        }
                        &.lightblue{
                            border-right: 2px solid var(--white);
                        }
                        &.dark{
                            border-right: 2px solid var(--white);
                        }
                        &.blue{
                            border-right: 2px solid var(--white);
                        }
                    }
                    &:nth-child(4){
                        padding-left: 5px;
                    }

                    &:last-child{
                        padding-right: 1px;
                    }
                    
                    .item-link{
                        font-size: 18px;
                        line-height: 1.75em;
                        height: 1.7em;
                        text-decoration: none;
                        color: var(--avg-color); 
                        position: relative;
                        overflow: hidden;

                        &.rose{
                            color: var(--white);
                        }

                        &.lightblue{
                            color: var(--white);
                        }
                        &.dark{
                            color: var(--white);
                        }
                        &.blue{
                            color: var(--white);
                        }

                        &.active{
                            &::after{
                                transform: translate(0%);
                            }
                        }

                        &::after{
                            content: "";
                            background-color: #2c2c2ca2;
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            bottom: 0px;
                            transform: translate(-140%);
                            transition: all 300ms ease-in-out;
                        }

                        &.rose{
                            &::after{
                                background-color: var(--white);
                            }
                        }
                        &.lightblue{
                            &::after{
                                background-color: var(--white);
                            }
                        }
                        &.dark{
                            &::after{
                                background-color: var(--white);
                            }
                        }
                        &.blue{
                            &::after{
                                background-color: var(--white);
                            }
                        }

                        &:hover{
                            &::after{
                                transform: translate(0%);
                            }
                            cursor: pointer;
                            
                        }
                    }

                    .bx{
                        font-size: 25px;
                        margin-top: 2px;
                        color: var(--avg-color);

                        &.rose{
                            color: var(--white);
                        }
                        &.lightblue{
                            color: var(--white);
                        }
                        &.dark{
                            color: var(--white);
                        }
                        &.blue{
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
} 
/* HERO SECTION */

.hero-container{
    height: 88vh;
    width: 90%;
    margin: auto;
    padding-top: 5.5vw;

    .hero{
        display: flex;

        .text-section{

            .title{
                font-weight: 400;
                text-transform: uppercase;
                font-size: 100px;
                line-height: 1.12em;
                color: var(--avg-color);
                .title-span{
                    display: block;
                }
            }

            .based{
                
                .based-p{
                    padding: 10px 0 20px;
                    color: #22222286;
                    font-size: 45px;
                }
            }

            .description{

                .description-span{
                    font-weight: 400;
                    font-size: 20px;
                    color: var(--avg-color);
                }
            }
        }
    }
}

/* LOCOMOTIVE TEXT TO RIGHT: HOME */

.text-right{
    line-height: 1em;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 83vh;
    white-space: nowrap;
    .right-text{
        color:#22222236;
        font-size: 9rem;
        letter-spacing: 1px;
        margin-left: 20px;
    }
}

/* BIO HOME */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    .bio-container{
    width: 95%;
    height:35vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    .space{
        width: 50%;
    }

    .bio{
        width: 50%;
        .bio-title{
            display: flex;
            flex-direction: column;
            color: #2c2c2cd7;
            .name{
                font-size: 48px;
                font-weight: 400;
                line-height: 1em;
            }
            .age{
                font-weight: 400;
                margin-bottom: 15px;
                font-size: 20px;
            }
        }
        .bio-info{
                .info{
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        .bio-buttons{
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            font-size: 22px ;
                a{
                    text-decoration: none;
                    color: var(--avg-color);
                    position: relative;
                    overflow: hidden;

                    &:hover{

                        &::after{
                            transform: translate(100%);
                        }
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        background-color: var(--avg-color);
                        transition: all 300ms ease;
                    }
                }
            }
        }
    }
}

.detailButton{
    text-decoration: none;
    font-size: 20px;
    color: var(--avg-color);
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: all 1s ease;

    &::after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--avg-color);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 300ms ease;
    }

    &.is-inview{
        opacity: 1;
    }
}
/* works section */

.works-section{
    overflow: hidden ;
    margin-top: 70px;
    padding: 70px 0px 0px 70px;
    .works-container{

        .project{
            color: var(--avg-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
            margin-bottom: 40px;
            padding: 20px 0px;
            .project-left{
                height: 100%;
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .project-number{
                    font-size: 30px;
                    opacity: 1;
                    transition: all 1s ease;

                    &.is-inview{
                        opacity: 1;
                    }
                }

                .text-content{
                    .title{
                        font-size: 54px;
                        line-height: 1em;
                        margin-bottom: 5px ;
                        opacity: 1;
                        transition: all 1s ease;

                        &.is-inview{
                            opacity: 1;
                        }
                    }
                    .subtitle{
                        font-size: 24px;
                        margin-bottom: 15px ;
                        opacity: 1;
                        transition: all 1.2s ease;

                        &.is-inview{
                            opacity: 1;
                        }
                    }
                    .description{
                        font-size: 18px;
                        opacity: 1;
                        transition: all 1.5s ease;
                        margin-bottom: 10px; 

                        &.is-inview{
                            opacity: 1;
                        }
                    }
                }
                
                .category{
                    font-size: 24px;
                    opacity: 1;
                    transition: all 2s ease;

                    &.is-inview{
                        opacity: 1;
                    }
                }
            }

            .project-right{
                height: 95%;
                width: 50%; 
                .image-container{
                    opacity: 1;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    transition: all 1s ease; 

                    &.is-inview{
                        opacity: 1; 
                    }
                    
                    image{
                        object-fit: contain;
                        object-position: center ;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

/* FOOTER SECTION */

.footer{
    height: 10vh;
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    color: var(--avg-color);

    &.rose{
        background-color: var(--rose);
        color: var(--white);
    }
    &.lightblue{
        background-color: var(--lightblue);
        color: var(--white);
    }
    &.dark{
        background-color: var(--dark);
        color: var(--white);
    }
    &.blue{
        background-color: var(--blue);
        color: var(--white);
    }

    .text{
        .developed{
            font-size: 20px;
        }
    }

    .socials{
        .menu{
            display: flex;
            flex-direction: row ;
            .list-item{
                list-style: none;
                padding: 0px 20px;
                cursor: pointer;
                .bx{
                    font-size: 25px;
                } 
            }
        }
    }
}

/* detail section */

.detail__container{
    padding: 150px 200px 50px ;

    &.rose{
        background-color: var(--rose);
        color: var(--white);
    }
    &.lightblue{
        background-color: var(--lightblue);
        color: var(--white);
    }
    &.dark{
        background-color: var(--dark);
        color: var(--white);
    }
    &.blue{
        background-color: var(--blue);
        color: var(--white);
    }
    .detail{

        .text__container{
            padding-bottom: 100px;
            .title{
                font-size: 76px;
            }
            .subtitle{
                font-size: 20px;
            }
            .category{
                font-size: 20px;
            }
            .buy{
                font-size: 25px;
                cursor: pointer;
                margin-top: 10px;
                width: 185px;
                position: relative;
                overflow: hidden;
                height:40px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    .text-up{
                        transform: translateY(-100%);
                    }
                }

                .text-up{
                    position: absolute;
                    transition: all 300ms ease ;
                    display: flex;
                    flex-direction: column;

                    &::after{
                        content: "Buy now";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        bottom: -37px;
                    }
                }
            }
        }
    }
    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
        .image__container{
            width: 1200px;
            height: 1200px;
            .image{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }

}