@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #2b2b2b;
  --primary-font: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb{
  background-color: #a0a0a0;
}

html::-webkit-scrollbar-track{
  background-color: #fff;
}



body{
  overflow-x: hidden;
  font-family: var(--primary-font);
  background: #ebf1f1;
}